@import "tailwindcss";
@keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.animate-gradient {
  background-size: 300%;
  animation: gradient 5s linear infinite alternate;
}
@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient-text {
  background-size: 200% 200%;
  animation: gradientShift 4s ease infinite;
}
